<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <main>
        <div>
            <!-- todo_object is the name of the view function but name is called from
             the todo_list_list view function through the foreign key -->
            <h1>{{ todo_object.name }}</h1>
            <div>
                <p>
                    <!-- todo_object.id is the key for todo_list_detail view function -->
                    <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
                </p>
            </div>
            <div>
                <p>
                    <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
                </p>
            </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
<!-- when you add todo_object is the key,
 items is the related nam of the foreign key that unlocks the class features
 .all essentially tells you that you're dealing with a iterative database
 (a list?) and you'll need it to access all the data in the database -->
                {% for item in todo_object.items.all %}
                <tr>

                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                    </td>
                    <td>{{ item.due_date }}</td>

                </tr>
                {% endfor %}
            </thead>
        </table>
        </div>
    </main>
</body>

</html>
