<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
            </div>
            <div>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
<!-- for loop: 'todo' is variable and todo_list_key is the key of the context dictionary -->
               {% for item in todo_list %}
                <tr>
<!-- in the list name: 'todo' is the variable and name is the feature in TodoList model -->
                    <td>
                        <!-- The a tag with the Django url tag.
                         The url is the type of tag.
                         Follow url with name of path in quotes (3rd part of url path).
                         Item is the variable declared in the for loop,
                         .id is the id assigned to the specific list.
                         Make sure variable is INSIDE the a tag-->
                        <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                    </td>
<!-- item refers to the variable in for loop
 items refer to the related name in foreign key
 count is the queryset that counts things
 I don't know how this worked but it did. -->
                    <td>
                        {{ item.items.count }}
                    </td>

                </tr>
                {% endfor %}
                </thead>
            </table>
        </div>
    </main>

</body>
</html>
